<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr> 
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/19460853?query=java%20Odessa">Java Developer for EG Team Online (Odessa)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/19374695?query=java%20Odessa">Senior Software Developer Java (Montenegro)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/19545265?query=java%20Odessa">Senior PHP developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Lucky Labs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/19546960?query=java%20Odessa">System Architect (Java)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Petrosoft Inc.</td> 
     <td class="salary">от 2&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/19269327?query=java%20Odessa">Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Ilogos</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/19527607?query=java%20Odessa">QA Automation Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ИП KAgency</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/19436427?query=java%20Odessa">Senior Director of Engineering</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Comodo Group Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/19235357?query=java%20Odessa">Senior Android/iOS Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Swiss Tech</td> 
     <td class="salary">от 2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/19436426?query=java%20Odessa">Senior Director of Engineering</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Comodo Group Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/19189080?query=java%20Odessa">Mid+/Senior PHP developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО webasm</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>